.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(7, 7, 77, 0.7);
    padding: 30px 0; 
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: var(--whiteColor);
    transition: all 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav {}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.nav__item {
    position: relative;
}

.nav .nav__list .nav__item:hover > .nav__item-list {
    display: block;
}

.nav .nav__list .nav__item .nav__item-list .nav__item-item:hover > .nav__item-list {
    display: block;
} 

.nav__link, 
.nav__item-link {
    color: var(--whiteColor);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    transition: all 1s ease;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__item-link:hover {
    text-decoration: underline;
}

.nav__item-list {
    position: absolute;
    background-color: rgb(6, 6, 65);
    left: 0;
    padding: 20px;
    display: none;
    width: 200px;
}

.nav__item-list--sub {
    left: 130px; 
}

.nav__item-item {
    margin-bottom: 20px;
}
